.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  &__name,
  &__id,
  &__weight,
  & img {
    width: 100%;
    text-align: center;
    border-radius: 1rem;
    background-color: white;
    box-shadow: inset 10px 10px 10px 0px rgba(0,0,0,0.05);
    color: darkcyan;
    font-weight: 700;
  }
  & h3 {
    margin: 1rem auto;
  }
  &__type {
    background-color: white;
    padding: 0.25rem 1rem;
    border-radius: 3rem;
    box-shadow: inset 10px 10px 10px 0px rgba(0,0,0,0.05);
  }
}
