.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  &__name,
  &__id,
  &__weight,
  & img {
    width: 100%;
    text-align: center;
    border-radius: 1rem;
    background-color: white;
    box-shadow: inset 10px 10px 20px 0px rgba(0,0,0,0.15);
    color: rgb(0, 161, 135);
    font-weight: 700;
  }
  & h3 {
    margin: 1rem auto;
  }
  &__type {
    background-color: white;
    padding: 0.25rem 1rem;
    border-radius: 3rem;
    box-shadow: inset 10px 10px 10px 0px rgba(0,0,0,0.05);
  }
  & span {
    color: rgba(71, 71, 71, 0.9);
  }
}

.type {
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.25rem 0.5rem;
}
.normal {
	background-color: #A8A878;
}

.fire {
	background-color: #F08030;
}

.water {
	background-color: #6890F0;
}

.electric {
	background-color: #F8D030;
}

.grass {
	background-color: #78C850;
}

.ice {
	background-color: #98D8D8;
}

.ground {
	background-color: #E0C068;
}

.flying {
	background-color: #A890F0;
}

.ghost {
	background-color: #705898;
}

.rock {
	background-color: #B8A038;
}

.fighting {
	background-color: #C03028;
}

.poison {
	background-color: #A040A0;
}

.psychic {
	background-color: #F85888;
}

.bug {
	background-color: #A8B820;
}

.dark {
	background-color: #705848;
}

.steel {
	background-color: #B8B8D0;
}

.dragon {
	background-color: #7038F8;
}
