.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  &__name,
  &__id,
  &__weight {
    width: 100%;
    text-align: center;
    border-radius: 1rem;
    background-color: white;
    box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.05);
  }
  &__name {

  }

  &__id {

  }

  &__weight {

  }
}
